body
{
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
}

h1 
{
   color: #ffffff;
   background-color: #000099;
   padding: 5px 5px 5px 5px;
   font: 20px bold arial, verdana;
   clear: both;
}

h2
{
   font: 18px bold arial, verdana;
   padding: 5px 5px 5px 25px;
   clear: both;
}

h3
{
   padding: 5px 5px 5px 25px;
   clear: both;
}

.Reviews, .Journals
{
   list-style-type: none;
   list-style-image: none;
}



.rr_even, .rr_odd, .jnl_even, .jnl_odd
{
   width: 250px;
   height: 200px;
   float: left;
   margin: 5px 5px 5px 5px;
   padding: 1px 1px 1px 1px;
   position: relative;
   background-size: 250px 200px;
}

.rr_even, .jnl_even
{
   background-color: #dddddd;
}

.rr_name, .jnl_entrydate
{
   position: absolute;
   top: 30px;
   width: 208px;
   height: 16px;
   background-color: #000099;
   color: #FFFFFF;
   padding: 5px 2px 2px 2px;
   text-align: center;
   font: 12px bold arial, verdana;
   vertical-align: middle;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.rr_visitdate
{
   position: absolute;
   font: 12px arial, verdana;
   bottom: 3px;
   left: 0px;
   background-color: #006699;
   padding: 2px 5px 2px 2px;
}

.rr_reviewedby, .jnl_enteredby
{
   position: absolute;
   font: 12px arial, verdana;
   bottom:3px;
   right: 0px;
   background-color: #006699;
   padding: 2px 5px 2px 2px;
}

.rr_odd, .jnl_odd
{
   background-color: #999999;
}

#map
{
   clear: both;
   height: 200;
   width: 250;
   margin: 45px 45px 45px 45px;
}

.rr_odd a, .jnl_odd a
{
   color: #FFFFFF;
   text-decoration: none;
}

.rr_even a, .jnl_even a
{
   color: #FFFFFF;
   text-decoration: none;
}

.photo
{
   list-style-type: none;
   list-style-image: none;
   float: left;
   margin: 5px 5px 5px 5px;
}

.photo img
{
   height: 200px;
   width: 250px;
}

.review_details, .journal_details
{
   position: relative;
   margin: 25px 45px 25px 45px;
   background-color: #dddddd;
}

.review_reviewedby, .journal_enteredby
{
   position: absolute;
   right: 0px;
   bottom: 5px;
   padding-left: 30px; 
   padding-right: 5px;
   margin: 0px 0px 0px 0px;
   background-color: #0099ff;

}

.review_visitdate, journal_entrydate
{
   position: absolute;
   right: 0px;
   top: 45px;
   padding-left: 30px; 
   padding-right: 5px;
   margin: 0px 0px 0px 0px;
   background-color: #ff0099;
}

.review_placetype
{
   position: absolute;
   right: 0px;
   top: 25px;
   padding-left: 30px; 
   padding-right: 5px;
   margin: 0px 0px 0px 0px;
   background-color: #ff9900;

}

.review_rating
{
   position: absolute;
   right: 0px;
   top: 5px;
   padding-left: 30px;
   padding-right: 5px;
   margin: 0px 0px 0px 0px;
   background-color: #0099ff;
}

.review_textdata, .journal_textdata
{
  width: 70%; 
  margin: 10px 10px 10px 10px;
  padding: 5px 10px 10px 10px;
  font: 14px arial, verdana;
  min-height: 100px;
}

.review_metadata, .journal_metadata
{
   margin: 0px 0px 0px 0px;
   font: italic 14px arial, verdana;
   position: absolute;
   right: 0px;
   width: 28%;
   height: 100%;
}

.menu
{
   position: fixed;
   top: 0px;
   right: 0px;
   background-color: #000099;
   padding: 5px 5px 5px 5px;
   font: 14px arial, verdana;
}

.menu a
{
   color: #FFFFFF;
   
   padding: 10px;
}

.featurelist, .taglist
{
   padding-bottom: 20px;
} 

.featurelist li, .taglist li
{
   list-style-type: none;
   list-style-image: none;
   float: left;
   padding-left: 10px;
}
