<html>
  <head>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "abeona.css" %}">
  </head>
  <body>
   <h1>Abeona</h1>
   {% include "abeona/menu.html" %}
   <h2>{{ review.name }}</h2>
   <h3>Photos</h3>
      <ul>
      {% for photo in photos %}
        <li class="photo"><a href="{{ photo.img.url }}"><img src="{{ photo.img.url }}" alt="{{ photo.name }}" /></a></li>
      {% endfor %}
      </ul>
   {% if features %}
   <h3>Features</h3>
     <ul class="featurelist">
     {% for feature in features %}
        <li>{{ feature.featureid }}</li>
     {% endfor %}
     </ul>
   {% endif %}
   <h3>Details</h3>
   <div class="review_details">
     <div class="review_metadata">
       <div class="review_reviewedby">Reviewed by: {{ review.reviewedby }}</div>
       <div class="review_visitdate">Date of visit: {{ review.visitdate }}</div>
       <div class="review_placetype">Type of attraction: {{ review.placetypeid }}</div>
       <div class="review_rating">Rating: {{ review.rating }}</div>
     </div>
     <div class="review_textdata">
	{{ textdata|linebreaks }}
     </div>
   </div>
   <h3>Location</h3>
   <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ review.lat }}, lng: {{ review.lng }} },
          zoom: 10
        });

        var marker{{ review.reviewid }} = new google.maps.Marker({
          position: {lat: {{ review.lat }}, lng: {{ review.lng }}},
          map: map,
          title: '{{ review.name }}'
        });
	
	var infowindow{{ review.reviewid }} = new google.maps.InfoWindow({
          content: '<div id="content">{{ review.name }}</div>'
        });

	marker{{ review.reviewid }}.addListener('click', function() {
          infowindow{{ review.reviewid }}.open(map, marker{{ review.reviewid }});
        });


      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAynAxT7wsTXyutomd7bKn9XXC8uecXyLs&callback=initMap"
    async defer></script>
</body>
</html>

